/*on screen that are 992px wide or less, go from four cloumns to two cloumns*/
@media screen and (max-width: 992px){
    .text-red{
        color: blue;
    }
}
/* On screen that are 600px wide or less, make the coloumns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px){
    .text-red{
        color: green;
    }
}
body{background-image:url(device-apple-wallpaper.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat
    }

